@media(max-width: 1500px) {
  div#sidebar {
    width: 100%;
  }
}

@media(min-width: 1000px) {
  div#sidebar {
    width: 60%;
  }
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 15%;
  margin: 1%;
}

.parent {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.list1 {
  box-sizing: border-box;
  color: #A9A9A9;
  margin: 15px;
  font-size: 1.5vmin;
}

.list2 {
  box-sizing: border-box;
  color: #A9A9A9;
  margin: 15px;
  font-size: 1.5vmin;
}

.list3 {
  box-sizing: border-box;
  color: #A9A9A9;
  margin: 15px;
  font-size: 1.5vmin;
}

.list4 {
  box-sizing: border-box;
  color: #A9A9A9;
  margin: 15px;
  font-size: 1,5vmin;
}

.list5 {
  box-sizing: border-box;
  color: #A9A9A9;
  margin: 15px;
  font-size: 1.5vmin;
}

.list6 {
  box-sizing: border-box;
  color: #A9A9A9;
  margin: 15px;
  font-size: 1.5vmin;
}

.float {
  width: 100%;
}

.float-img {
  position: relative;
  width: 20%;
  left: 50%;
}

p {
  font-family: "Architects Daughter", cursive;
  font-size: 70px;
}

.text {
  position: absolute;
  top: 10%;
  left: -85%;
  line-height: 175%;
  font-size: 400%;
}

span {
  color: #00BFFF;
}

span2 {
  color: #B13546;
}

.text2 {
  position: absolute;
  top: 60%;
  left: -85%;
  font-size: 26.5px;
}

.text3 {
  font-family: 'Roboto',
  sans-serif;
  position: absolute;
  top: 65%;
  left: -85%;
  font-size: 20px;
  color: #A9A9A9;
}


.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

span3 {
  display: flex;
  font-family: "Architects Daughter",
  cursive;
  color: #B13546;
  padding: 10px;
  font-size: 25px;
  align-self: flex-start;
}

.size {
  display: flex;
  font-size: 200%;
  padding: 10px;
  align-self: flex-start;
}


.news {
  list-style: none;
  border: 3px solid;
  border-color: #A9A9A9;
  border-left: transparent;
  border-right: transparent;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  margin: 40px;
}

.underline {
  border-bottom: 0.1em solid #A9A9A9;
}

.box1 {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 15px;
  border-radius: 20px;
  background-color: #B13546;
  font-size: 15px;
  color: aliceblue;
}

.group {
  background-color: darkgray;
  background-size: contain;
  width: 100%;
}

span4 {
  display: flex;
  font-family: "Architects Daughter",
  cursive;
  color: #B13546;
  padding: 10px;
  margin: 20px;
  font-size: 25px;
  justify-content: center;
}

.size2 {
  display: flex;
  font-size: 200%;
  padding: 10px;
  margin: 40px;
  justify-content: center;
}

.about_content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
}

.img_2 {
  display: flex;
  justify-content: flex-end;
}

.img_size {
  display: flex;
  width: 45%;
  flex-basis: 50%;
}

.text4 {
  display: flex;
  justify-content: flex-start;
  font-size: 26.5px;
  flex-basis: 50%;
}